{
  "openapi": "3.0.3",
  "info": {
    "title": "FeatureSignals API",
    "description": "Complete API reference for FeatureSignals — feature flag management platform",
    "version": "1.0.0",
    "contact": { "name": "FeatureSignals", "url": "https://featuresignals.com" },
    "license": { "name": "Apache-2.0", "url": "https://www.apache.org/licenses/LICENSE-2.0" }
  },
  "servers": [
    { "url": "https://api.featuresignals.com", "description": "Production" }
  ],
  "tags": [
    { "name": "Auth", "description": "Authentication and account verification" },
    { "name": "Projects", "description": "Project management" },
    { "name": "Environments", "description": "Environment management within projects" },
    { "name": "Flags", "description": "Feature flag CRUD operations" },
    { "name": "Flag State", "description": "Per-environment flag state and promotion" },
    { "name": "Evaluation", "description": "Flag evaluation for SDKs and clients" },
    { "name": "Segments", "description": "User segment targeting rules" },
    { "name": "API Keys", "description": "API key management for environments" },
    { "name": "Team", "description": "Team member and permission management" },
    { "name": "Approvals", "description": "Approval workflow for flag changes" },
    { "name": "Webhooks", "description": "Webhook configuration and delivery history" },
    { "name": "Audit", "description": "Audit log for all actions" },
    { "name": "Metrics", "description": "Evaluation metrics and analytics" },
    { "name": "Billing", "description": "Subscription and usage billing" },
    { "name": "Onboarding", "description": "Onboarding progress tracking" },
    { "name": "Demo", "description": "Demo session management and conversion" },
    { "name": "Pricing", "description": "Public pricing configuration" },
    { "name": "SSO", "description": "SSO configuration (SAML 2.0 / OIDC) — Enterprise" },
    { "name": "SCIM", "description": "SCIM 2.0 user provisioning — Enterprise" },
    { "name": "MFA", "description": "Multi-factor authentication (TOTP) — Pro+" },
    { "name": "IP Allowlist", "description": "IP allowlist management — Enterprise" },
    { "name": "Custom Roles", "description": "Custom role templates — Enterprise" },
    { "name": "Data Export", "description": "Organization data export — Pro+" }
  ],
  "security": [{ "BearerAuth": [] }],
  "paths": {
    "/v1/auth/register": {
      "post": {
        "tags": ["Auth"],
        "summary": "Register a new account",
        "description": "Creates a new user account and returns authentication tokens.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/RegisterRequest" },
              "example": { "email": "user@example.com", "password": "securePass123!", "name": "Jane Doe" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Account created",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AuthResponse" } } }
          },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      }
    },
    "/v1/auth/login": {
      "post": {
        "tags": ["Auth"],
        "summary": "Log in",
        "description": "Authenticates a user and returns JWT tokens.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/LoginRequest" },
              "example": { "email": "user@example.com", "password": "securePass123!" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AuthResponse" } } }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/auth/refresh": {
      "post": {
        "tags": ["Auth"],
        "summary": "Refresh access token",
        "description": "Exchanges a valid refresh token for a new access token.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/RefreshRequest" },
              "example": { "refreshToken": "eyJhbGciOi..." }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token refreshed",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AuthResponse" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/auth/send-verification-email": {
      "post": {
        "tags": ["Auth"],
        "summary": "Send email verification link",
        "description": "Sends a verification link to the user's email address.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "type": "object", "required": ["email"], "properties": { "email": { "type": "string", "format": "email" } } },
              "example": { "email": "user@example.com" }
            }
          }
        },
        "responses": {
          "200": { "description": "Verification email sent", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MessageResponse" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      }
    },
    "/v1/auth/verify-email": {
      "get": {
        "tags": ["Auth"],
        "summary": "Verify email address",
        "description": "Verifies the user's email using a token from the verification link.",
        "security": [],
        "parameters": [
          { "name": "token", "in": "query", "required": true, "schema": { "type": "string" }, "description": "Email verification token" }
        ],
        "responses": {
          "200": { "description": "Email verified", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MessageResponse" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      }
    },
    "/v1/projects": {
      "get": {
        "tags": ["Projects"],
        "summary": "List all projects",
        "description": "Returns all projects the authenticated user has access to.",
        "parameters": [
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 50, "maximum": 100 } },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "default": 0 } }
        ],
        "responses": {
          "200": {
            "description": "List of projects",
            "content": { "application/json": { "schema": { "type": "object", "properties": { "projects": { "type": "array", "items": { "$ref": "#/components/schemas/Project" } } } } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "post": {
        "tags": ["Projects"],
        "summary": "Create a project",
        "description": "Creates a new project with a default set of environments.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateProjectRequest" },
              "example": { "name": "My App", "description": "Mobile application flags" }
            }
          }
        },
        "responses": {
          "201": { "description": "Project created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Project" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/projects/{projectID}": {
      "get": {
        "tags": ["Projects"],
        "summary": "Get a project",
        "description": "Returns a single project by ID.",
        "parameters": [{ "$ref": "#/components/parameters/ProjectID" }],
        "responses": {
          "200": { "description": "Project details", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Project" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "delete": {
        "tags": ["Projects"],
        "summary": "Delete a project",
        "description": "Permanently deletes a project and all associated resources.",
        "parameters": [{ "$ref": "#/components/parameters/ProjectID" }],
        "responses": {
          "200": { "description": "Project deleted", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MessageResponse" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/projects/{projectID}/environments": {
      "get": {
        "tags": ["Environments"],
        "summary": "List environments",
        "description": "Returns all environments in a project.",
        "parameters": [
          { "$ref": "#/components/parameters/ProjectID" },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 50, "maximum": 100 } },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "default": 0 } }
        ],
        "responses": {
          "200": {
            "description": "List of environments",
            "content": { "application/json": { "schema": { "type": "object", "properties": { "environments": { "type": "array", "items": { "$ref": "#/components/schemas/Environment" } } } } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "post": {
        "tags": ["Environments"],
        "summary": "Create an environment",
        "description": "Creates a new environment in the specified project.",
        "parameters": [{ "$ref": "#/components/parameters/ProjectID" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateEnvironmentRequest" },
              "example": { "name": "staging", "color": "#f59e0b" }
            }
          }
        },
        "responses": {
          "201": { "description": "Environment created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Environment" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/projects/{projectID}/environments/{envID}": {
      "delete": {
        "tags": ["Environments"],
        "summary": "Delete an environment",
        "description": "Permanently deletes an environment and its associated flag states.",
        "parameters": [
          { "$ref": "#/components/parameters/ProjectID" },
          { "$ref": "#/components/parameters/EnvID" }
        ],
        "responses": {
          "200": { "description": "Environment deleted", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MessageResponse" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/projects/{projectID}/flags": {
      "get": {
        "tags": ["Flags"],
        "summary": "List all flags",
        "description": "Returns all feature flags in a project.",
        "parameters": [
          { "$ref": "#/components/parameters/ProjectID" },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 50, "maximum": 100 } },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "default": 0 } }
        ],
        "responses": {
          "200": {
            "description": "List of flags",
            "content": { "application/json": { "schema": { "type": "object", "properties": { "flags": { "type": "array", "items": { "$ref": "#/components/schemas/Flag" } } } } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "post": {
        "tags": ["Flags"],
        "summary": "Create a flag",
        "description": "Creates a new feature flag in the project.",
        "parameters": [{ "$ref": "#/components/parameters/ProjectID" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateFlagRequest" },
              "example": { "key": "new-checkout", "name": "New Checkout Flow", "flag_type": "boolean", "default_value": false, "description": "Enable the redesigned checkout experience" }
            }
          }
        },
        "responses": {
          "201": { "description": "Flag created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Flag" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/projects/{projectID}/flags/{flagKey}": {
      "get": {
        "tags": ["Flags"],
        "summary": "Get a flag",
        "description": "Returns a single feature flag by key.",
        "parameters": [
          { "$ref": "#/components/parameters/ProjectID" },
          { "$ref": "#/components/parameters/FlagKey" }
        ],
        "responses": {
          "200": { "description": "Flag details", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Flag" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "put": {
        "tags": ["Flags"],
        "summary": "Update a flag",
        "description": "Updates the flag definition (name, description, tags, etc.).",
        "parameters": [
          { "$ref": "#/components/parameters/ProjectID" },
          { "$ref": "#/components/parameters/FlagKey" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateFlagRequest" },
              "example": { "name": "New Checkout v2", "description": "Updated checkout with faster payment processing" }
            }
          }
        },
        "responses": {
          "200": { "description": "Flag updated", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Flag" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "delete": {
        "tags": ["Flags"],
        "summary": "Delete a flag",
        "description": "Permanently deletes a feature flag and all associated state.",
        "parameters": [
          { "$ref": "#/components/parameters/ProjectID" },
          { "$ref": "#/components/parameters/FlagKey" }
        ],
        "responses": {
          "200": { "description": "Flag deleted", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MessageResponse" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/projects/{projectID}/flags/{flagKey}/environments/{envID}": {
      "get": {
        "tags": ["Flag State"],
        "summary": "Get flag state for environment",
        "description": "Returns the flag's state (enabled, targeting rules, percentage) for a specific environment.",
        "parameters": [
          { "$ref": "#/components/parameters/ProjectID" },
          { "$ref": "#/components/parameters/FlagKey" },
          { "$ref": "#/components/parameters/EnvID" }
        ],
        "responses": {
          "200": { "description": "Flag state", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/FlagState" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "put": {
        "tags": ["Flag State"],
        "summary": "Update flag state for environment",
        "description": "Updates the flag's enabled status, targeting rules, or rollout percentage for a specific environment.",
        "parameters": [
          { "$ref": "#/components/parameters/ProjectID" },
          { "$ref": "#/components/parameters/FlagKey" },
          { "$ref": "#/components/parameters/EnvID" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateFlagStateRequest" },
              "example": { "enabled": true, "percentage": 50, "rules": [{ "segmentKey": "beta-users", "value": true }] }
            }
          }
        },
        "responses": {
          "200": { "description": "Flag state updated", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/FlagState" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/projects/{projectID}/flags/{flagKey}/promote": {
      "post": {
        "tags": ["Flag State"],
        "summary": "Promote flag state",
        "description": "Copies the flag state from one environment to the next in the promotion order.",
        "parameters": [
          { "$ref": "#/components/parameters/ProjectID" },
          { "$ref": "#/components/parameters/FlagKey" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "type": "object", "required": ["fromEnvID", "toEnvID"], "properties": { "fromEnvID": { "type": "string", "format": "uuid" }, "toEnvID": { "type": "string", "format": "uuid" } } },
              "example": { "fromEnvID": "env-staging-id", "toEnvID": "env-production-id" }
            }
          }
        },
        "responses": {
          "200": { "description": "Flag promoted", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/FlagState" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/projects/{projectID}/flags/{flagKey}/kill": {
      "post": {
        "tags": ["Flag State"],
        "summary": "Kill switch — disable flag everywhere",
        "description": "Instantly disables the flag across all environments. Use for emergency rollbacks.",
        "parameters": [
          { "$ref": "#/components/parameters/ProjectID" },
          { "$ref": "#/components/parameters/FlagKey" }
        ],
        "responses": {
          "200": { "description": "Flag killed across all environments", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MessageResponse" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/projects/{projectID}/flags/compare-environments": {
      "get": {
        "tags": ["Flag Management"],
        "summary": "Compare flag states across environments",
        "description": "Returns per-flag differences between two environments (enabled, rollout, rules, default value).",
        "parameters": [
          { "$ref": "#/components/parameters/ProjectID" },
          { "name": "source_env_id", "in": "query", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "target_env_id", "in": "query", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": { "description": "Environment comparison result", "content": { "application/json": { "schema": { "type": "object", "properties": { "total": { "type": "integer" }, "diff_count": { "type": "integer" }, "diffs": { "type": "array", "items": { "type": "object" } } } } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/projects/{projectID}/flags/sync-environments": {
      "post": {
        "tags": ["Flag Management"],
        "summary": "Sync flag states between environments",
        "description": "Bulk-promotes selected flags from source to target environment.",
        "parameters": [ { "$ref": "#/components/parameters/ProjectID" } ],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "type": "object", "required": ["source_env_id", "target_env_id", "flag_keys"], "properties": { "source_env_id": { "type": "string" }, "target_env_id": { "type": "string" }, "flag_keys": { "type": "array", "items": { "type": "string" } } } } } }
        },
        "responses": {
          "200": { "description": "Sync result", "content": { "application/json": { "schema": { "type": "object", "properties": { "synced": { "type": "integer" }, "total": { "type": "integer" } } } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/projects/{projectID}/environments/{envID}/inspect-entity": {
      "post": {
        "tags": ["Insights"],
        "summary": "Inspect entity — evaluate all flags for one entity",
        "description": "Evaluates all flags for a specific entity context and returns per-flag values, reasons, and targeting info.",
        "parameters": [ { "$ref": "#/components/parameters/ProjectID" }, { "$ref": "#/components/parameters/EnvID" } ],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "type": "object", "required": ["key"], "properties": { "key": { "type": "string" }, "attributes": { "type": "object", "additionalProperties": {} } } } } }
        },
        "responses": {
          "200": { "description": "Entity inspection results", "content": { "application/json": { "schema": { "type": "array", "items": { "type": "object", "properties": { "flag_key": { "type": "string" }, "value": {}, "reason": { "type": "string" }, "variant_key": { "type": "string" }, "individually_targeted": { "type": "boolean" } } } } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/projects/{projectID}/environments/{envID}/compare-entities": {
      "post": {
        "tags": ["Insights"],
        "summary": "Compare two entities side by side",
        "description": "Evaluates all flags for two different entity contexts and returns a diff.",
        "parameters": [ { "$ref": "#/components/parameters/ProjectID" }, { "$ref": "#/components/parameters/EnvID" } ],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "type": "object", "required": ["entity_a", "entity_b"], "properties": { "entity_a": { "type": "object", "properties": { "key": { "type": "string" }, "attributes": { "type": "object" } } }, "entity_b": { "type": "object", "properties": { "key": { "type": "string" }, "attributes": { "type": "object" } } } } } } }
        },
        "responses": {
          "200": { "description": "Entity comparison results", "content": { "application/json": { "schema": { "type": "array", "items": { "type": "object", "properties": { "flag_key": { "type": "string" }, "value_a": {}, "value_b": {}, "reason_a": { "type": "string" }, "reason_b": { "type": "string" }, "is_different": { "type": "boolean" } } } } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/projects/{projectID}/environments/{envID}/flag-insights": {
      "get": {
        "tags": ["Insights"],
        "summary": "Flag usage insights",
        "description": "Returns per-flag true/false evaluation distribution for the given environment.",
        "parameters": [ { "$ref": "#/components/parameters/ProjectID" }, { "$ref": "#/components/parameters/EnvID" } ],
        "responses": {
          "200": { "description": "Flag insights", "content": { "application/json": { "schema": { "type": "array", "items": { "type": "object", "properties": { "flag_key": { "type": "string" }, "total_count": { "type": "integer" }, "true_count": { "type": "integer" }, "false_count": { "type": "integer" }, "true_percentage": { "type": "number" } } } } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/evaluate": {
      "post": {
        "tags": ["Evaluation"],
        "summary": "Evaluate a single flag",
        "description": "Evaluates a feature flag for the given context and returns its value.",
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/EvaluateRequest" },
              "example": { "flagKey": "new-checkout", "context": { "userID": "user-123", "email": "user@example.com", "plan": "pro" } }
            }
          }
        },
        "responses": {
          "200": { "description": "Evaluation result", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/EvaluationResult" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/evaluate/bulk": {
      "post": {
        "tags": ["Evaluation"],
        "summary": "Evaluate multiple flags",
        "description": "Evaluates all (or specified) flags for the given context in a single request.",
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/BulkEvaluateRequest" },
              "example": { "context": { "userID": "user-123", "email": "user@example.com" }, "flagKeys": ["new-checkout", "dark-mode"] }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk evaluation results",
            "content": { "application/json": { "schema": { "type": "object", "properties": { "results": { "type": "array", "items": { "$ref": "#/components/schemas/EvaluationResult" } } } } } }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/client/{envKey}/flags": {
      "get": {
        "tags": ["Evaluation"],
        "summary": "Get all flag values for client",
        "description": "Returns all evaluated flag values for a client environment key. Used by client-side SDKs.",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [{ "$ref": "#/components/parameters/EnvKey" }],
        "responses": {
          "200": {
            "description": "Client flag values",
            "content": { "application/json": { "schema": { "type": "object", "properties": { "flags": { "type": "object", "additionalProperties": {} } } } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/stream/{envKey}": {
      "get": {
        "tags": ["Evaluation"],
        "summary": "Stream flag updates (SSE)",
        "description": "Opens a Server-Sent Events stream for real-time flag updates. SDKs use this for instant propagation.",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [{ "$ref": "#/components/parameters/EnvKey" }],
        "responses": {
          "200": { "description": "SSE stream opened", "content": { "text/event-stream": { "schema": { "type": "string" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/projects/{projectID}/segments": {
      "get": {
        "tags": ["Segments"],
        "summary": "List segments",
        "description": "Returns all segments in a project.",
        "parameters": [
          { "$ref": "#/components/parameters/ProjectID" },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 50, "maximum": 100 } },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "default": 0 } }
        ],
        "responses": {
          "200": {
            "description": "List of segments",
            "content": { "application/json": { "schema": { "type": "object", "properties": { "segments": { "type": "array", "items": { "$ref": "#/components/schemas/Segment" } } } } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "post": {
        "tags": ["Segments"],
        "summary": "Create a segment",
        "description": "Creates a new user segment with targeting rules.",
        "parameters": [{ "$ref": "#/components/parameters/ProjectID" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateSegmentRequest" },
              "example": { "key": "beta-users", "name": "Beta Users", "rules": [{ "attribute": "plan", "operator": "eq", "value": "beta" }] }
            }
          }
        },
        "responses": {
          "201": { "description": "Segment created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Segment" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/projects/{projectID}/segments/{segmentKey}": {
      "get": {
        "tags": ["Segments"],
        "summary": "Get a segment",
        "description": "Returns a single segment by key.",
        "parameters": [
          { "$ref": "#/components/parameters/ProjectID" },
          { "$ref": "#/components/parameters/SegmentKey" }
        ],
        "responses": {
          "200": { "description": "Segment details", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Segment" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "put": {
        "tags": ["Segments"],
        "summary": "Update a segment",
        "description": "Updates a segment's name, description, or rules.",
        "parameters": [
          { "$ref": "#/components/parameters/ProjectID" },
          { "$ref": "#/components/parameters/SegmentKey" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateSegmentRequest" },
              "example": { "name": "Beta Users v2", "rules": [{ "attribute": "plan", "operator": "in", "value": ["beta", "early-access"] }] }
            }
          }
        },
        "responses": {
          "200": { "description": "Segment updated", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Segment" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "delete": {
        "tags": ["Segments"],
        "summary": "Delete a segment",
        "description": "Permanently deletes a segment. Flags referencing it will stop matching.",
        "parameters": [
          { "$ref": "#/components/parameters/ProjectID" },
          { "$ref": "#/components/parameters/SegmentKey" }
        ],
        "responses": {
          "200": { "description": "Segment deleted", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MessageResponse" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/environments/{envID}/api-keys": {
      "get": {
        "tags": ["API Keys"],
        "summary": "List API keys",
        "description": "Returns all API keys for an environment.",
        "parameters": [
          { "$ref": "#/components/parameters/EnvID" },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 50, "maximum": 100 } },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "default": 0 } }
        ],
        "responses": {
          "200": {
            "description": "List of API keys",
            "content": { "application/json": { "schema": { "type": "object", "properties": { "apiKeys": { "type": "array", "items": { "$ref": "#/components/schemas/ApiKey" } } } } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "post": {
        "tags": ["API Keys"],
        "summary": "Create an API key",
        "description": "Creates a new API key for the environment. The full key is only returned once.",
        "parameters": [{ "$ref": "#/components/parameters/EnvID" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateApiKeyRequest" },
              "example": { "name": "Production SDK Key", "type": "server" }
            }
          }
        },
        "responses": {
          "201": { "description": "API key created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiKeyFull" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/api-keys/{keyID}": {
      "delete": {
        "tags": ["API Keys"],
        "summary": "Delete an API key",
        "description": "Revokes and permanently deletes an API key.",
        "parameters": [
          { "name": "keyID", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" }, "description": "API key ID" }
        ],
        "responses": {
          "200": { "description": "API key deleted", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MessageResponse" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/members": {
      "get": {
        "tags": ["Team"],
        "summary": "List team members",
        "description": "Returns all members of the current organization.",
        "parameters": [
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 50, "maximum": 100 } },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "default": 0 } }
        ],
        "responses": {
          "200": {
            "description": "List of members",
            "content": { "application/json": { "schema": { "type": "object", "properties": { "members": { "type": "array", "items": { "$ref": "#/components/schemas/Member" } } } } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/members/invite": {
      "post": {
        "tags": ["Team"],
        "summary": "Invite a team member",
        "description": "Sends an invitation email to add a new team member.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/InviteMemberRequest" },
              "example": { "email": "teammate@example.com", "role": "developer" }
            }
          }
        },
        "responses": {
          "201": { "description": "Invitation sent", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Member" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/members/{memberID}": {
      "put": {
        "tags": ["Team"],
        "summary": "Update a member",
        "description": "Updates a team member's role.",
        "parameters": [{ "$ref": "#/components/parameters/MemberID" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "type": "object", "properties": { "role": { "type": "string", "enum": ["owner", "admin", "developer", "viewer"] } } },
              "example": { "role": "admin" }
            }
          }
        },
        "responses": {
          "200": { "description": "Member updated", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Member" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "delete": {
        "tags": ["Team"],
        "summary": "Remove a member",
        "description": "Removes a team member from the organization.",
        "parameters": [{ "$ref": "#/components/parameters/MemberID" }],
        "responses": {
          "200": { "description": "Member removed", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MessageResponse" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/members/{memberID}/permissions": {
      "get": {
        "tags": ["Team"],
        "summary": "Get member permissions",
        "description": "Returns the granular permissions assigned to a team member.",
        "parameters": [{ "$ref": "#/components/parameters/MemberID" }],
        "responses": {
          "200": { "description": "Member permissions", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Permissions" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "put": {
        "tags": ["Team"],
        "summary": "Update member permissions",
        "description": "Sets granular permissions for a team member.",
        "parameters": [{ "$ref": "#/components/parameters/MemberID" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/Permissions" },
              "example": { "projectPermissions": { "proj-123": { "flags": "write", "environments": "read" } } }
            }
          }
        },
        "responses": {
          "200": { "description": "Permissions updated", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Permissions" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/approvals": {
      "get": {
        "tags": ["Approvals"],
        "summary": "List approval requests",
        "description": "Returns all pending and recent approval requests.",
        "parameters": [
          { "name": "status", "in": "query", "schema": { "type": "string", "enum": ["pending", "approved", "rejected"] }, "description": "Filter by status" },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 50, "maximum": 100 } },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "default": 0 } }
        ],
        "responses": {
          "200": {
            "description": "List of approvals",
            "content": { "application/json": { "schema": { "type": "object", "properties": { "approvals": { "type": "array", "items": { "$ref": "#/components/schemas/Approval" } } } } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "post": {
        "tags": ["Approvals"],
        "summary": "Create an approval request",
        "description": "Requests approval for a flag state change before it takes effect.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateApprovalRequest" },
              "example": { "flagKey": "new-checkout", "projectID": "proj-123", "envID": "env-prod", "changes": { "enabled": true, "percentage": 100 }, "description": "Enable checkout for all users" }
            }
          }
        },
        "responses": {
          "201": { "description": "Approval created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Approval" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/approvals/{approvalID}": {
      "get": {
        "tags": ["Approvals"],
        "summary": "Get an approval request",
        "description": "Returns details of a single approval request.",
        "parameters": [{ "$ref": "#/components/parameters/ApprovalID" }],
        "responses": {
          "200": { "description": "Approval details", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Approval" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/approvals/{approvalID}/review": {
      "post": {
        "tags": ["Approvals"],
        "summary": "Review an approval request",
        "description": "Approves or rejects a pending approval request.",
        "parameters": [{ "$ref": "#/components/parameters/ApprovalID" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "type": "object", "required": ["decision"], "properties": { "decision": { "type": "string", "enum": ["approved", "rejected"] }, "comment": { "type": "string" } } },
              "example": { "decision": "approved", "comment": "LGTM" }
            }
          }
        },
        "responses": {
          "200": { "description": "Review submitted", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Approval" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/webhooks": {
      "get": {
        "tags": ["Webhooks"],
        "summary": "List webhooks",
        "description": "Returns all configured webhooks.",
        "parameters": [
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 50, "maximum": 100 } },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "default": 0 } }
        ],
        "responses": {
          "200": {
            "description": "List of webhooks",
            "content": { "application/json": { "schema": { "type": "object", "properties": { "webhooks": { "type": "array", "items": { "$ref": "#/components/schemas/Webhook" } } } } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "post": {
        "tags": ["Webhooks"],
        "summary": "Create a webhook",
        "description": "Creates a new webhook endpoint for flag change events.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateWebhookRequest" },
              "example": { "url": "https://example.com/webhooks/flags", "events": ["flag.updated", "flag.deleted"], "secret": "whsec_abc123" }
            }
          }
        },
        "responses": {
          "201": { "description": "Webhook created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Webhook" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/webhooks/{webhookID}": {
      "get": {
        "tags": ["Webhooks"],
        "summary": "Get a webhook",
        "description": "Returns a single webhook by ID.",
        "parameters": [{ "$ref": "#/components/parameters/WebhookID" }],
        "responses": {
          "200": { "description": "Webhook details", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Webhook" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "put": {
        "tags": ["Webhooks"],
        "summary": "Update a webhook",
        "description": "Updates a webhook's URL, events, or secret.",
        "parameters": [{ "$ref": "#/components/parameters/WebhookID" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateWebhookRequest" },
              "example": { "url": "https://example.com/webhooks/v2", "events": ["flag.updated"] }
            }
          }
        },
        "responses": {
          "200": { "description": "Webhook updated", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Webhook" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "delete": {
        "tags": ["Webhooks"],
        "summary": "Delete a webhook",
        "description": "Permanently deletes a webhook.",
        "parameters": [{ "$ref": "#/components/parameters/WebhookID" }],
        "responses": {
          "200": { "description": "Webhook deleted", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MessageResponse" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/webhooks/{webhookID}/deliveries": {
      "get": {
        "tags": ["Webhooks"],
        "summary": "List webhook deliveries",
        "description": "Returns delivery history for a webhook including status codes and payloads.",
        "parameters": [
          { "$ref": "#/components/parameters/WebhookID" },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 50, "maximum": 100 } },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "default": 0 } }
        ],
        "responses": {
          "200": {
            "description": "Delivery history",
            "content": { "application/json": { "schema": { "type": "object", "properties": { "deliveries": { "type": "array", "items": { "$ref": "#/components/schemas/WebhookDelivery" } } } } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/audit": {
      "get": {
        "tags": ["Audit"],
        "summary": "List audit log entries",
        "description": "Returns a paginated audit log of all actions performed in the organization.",
        "parameters": [
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 50, "maximum": 100 } },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "default": 0 } },
          { "name": "action", "in": "query", "schema": { "type": "string" }, "description": "Filter by action type (e.g. flag.created)" },
          { "name": "actorID", "in": "query", "schema": { "type": "string" }, "description": "Filter by actor user ID" }
        ],
        "responses": {
          "200": {
            "description": "Audit log entries",
            "content": { "application/json": { "schema": { "type": "object", "properties": { "entries": { "type": "array", "items": { "$ref": "#/components/schemas/AuditEntry" } }, "total": { "type": "integer" }, "page": { "type": "integer" }, "limit": { "type": "integer" } } } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/metrics/evaluations": {
      "get": {
        "tags": ["Metrics"],
        "summary": "Get evaluation metrics",
        "description": "Returns evaluation counts and latency metrics for flags over a time range.",
        "parameters": [
          { "name": "flagKey", "in": "query", "schema": { "type": "string" }, "description": "Filter by flag key" },
          { "name": "envID", "in": "query", "schema": { "type": "string" }, "description": "Filter by environment ID" },
          { "name": "from", "in": "query", "schema": { "type": "string", "format": "date-time" }, "description": "Start of time range" },
          { "name": "to", "in": "query", "schema": { "type": "string", "format": "date-time" }, "description": "End of time range" }
        ],
        "responses": {
          "200": {
            "description": "Evaluation metrics",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/EvaluationMetrics" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/metrics/evaluations/reset": {
      "post": {
        "tags": ["Metrics"],
        "summary": "Reset evaluation metrics",
        "description": "Resets evaluation counters for the specified scope.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": { "type": "object", "properties": { "flagKey": { "type": "string" }, "envID": { "type": "string" } } },
              "example": { "flagKey": "new-checkout" }
            }
          }
        },
        "responses": {
          "200": { "description": "Metrics reset", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MessageResponse" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/billing/checkout": {
      "post": {
        "tags": ["Billing"],
        "summary": "Create checkout session",
        "description": "Generates PayU form fields for upgrading the subscription plan via merchant-hosted checkout.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "type": "object", "required": ["planID"], "properties": { "planID": { "type": "string" }, "successURL": { "type": "string", "format": "uri" }, "cancelURL": { "type": "string", "format": "uri" } } },
              "example": { "planID": "plan-pro", "successURL": "https://app.featuresignals.com/billing?success=true", "cancelURL": "https://app.featuresignals.com/billing" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout session created",
            "content": { "application/json": { "schema": { "type": "object", "properties": { "checkoutURL": { "type": "string", "format": "uri" } } } } }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/billing/subscription": {
      "get": {
        "tags": ["Billing"],
        "summary": "Get subscription details",
        "description": "Returns the current subscription plan, status, and renewal date.",
        "responses": {
          "200": {
            "description": "Subscription details",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Subscription" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/billing/usage": {
      "get": {
        "tags": ["Billing"],
        "summary": "Get usage statistics",
        "description": "Returns current billing period usage: evaluations, flags, environments, team seats.",
        "responses": {
          "200": {
            "description": "Usage statistics",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Usage" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/onboarding": {
      "get": {
        "tags": ["Onboarding"],
        "summary": "Get onboarding progress",
        "description": "Returns the current user's onboarding checklist and completion status.",
        "responses": {
          "200": {
            "description": "Onboarding progress",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Onboarding" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "patch": {
        "tags": ["Onboarding"],
        "summary": "Update onboarding progress",
        "description": "Marks onboarding steps as completed.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateOnboardingRequest" },
              "example": { "steps": { "createProject": true, "createFlag": true, "installSDK": false } }
            }
          }
        },
        "responses": {
          "200": { "description": "Onboarding updated", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Onboarding" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/pricing": {
      "get": {
        "tags": ["Pricing"],
        "summary": "Get pricing configuration",
        "description": "Returns the canonical pricing configuration for all plans. Public endpoint, no authentication required.",
        "security": [],
        "responses": {
          "200": {
            "description": "Pricing configuration",
            "content": { "application/json": { "schema": { "type": "object" } } }
          }
        }
      }
    },
    "/v1/auth/token-exchange": {
      "post": {
        "tags": ["Auth"],
        "summary": "Exchange one-time token for JWT",
        "description": "Exchanges a single-use one-time token for a full JWT pair. Used for cross-domain authentication after payment redirects.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "type": "object", "required": ["token"], "properties": { "token": { "type": "string" } } },
              "example": { "token": "hex_one_time_token" }
            }
          }
        },
        "responses": {
          "200": { "description": "Token exchanged", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AuthResponse" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/demo/session": {
      "post": {
        "tags": ["Demo"],
        "summary": "Create a demo session (Deprecated)",
        "description": "DEPRECATED: Returns 410 Gone. Anonymous demo sessions are no longer supported. Use POST /v1/auth/register with source='demo' instead.",
        "deprecated": true,
        "security": [],
        "responses": {
          "410": {
            "description": "Gone — endpoint deprecated",
            "content": { "application/json": { "schema": { "type": "object", "properties": { "error": { "type": "string" }, "message": { "type": "string" } } } } }
          }
        }
      }
    },
    "/v1/demo/convert": {
      "post": {
        "tags": ["Demo"],
        "summary": "Convert demo to permanent account",
        "description": "Converts an anonymous demo session into a registered account with email, password, and organization details.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "type": "object", "required": ["email", "password", "name", "org_name"], "properties": { "email": { "type": "string", "format": "email" }, "password": { "type": "string", "minLength": 8 }, "name": { "type": "string" }, "org_name": { "type": "string" } } },
              "example": { "email": "jane@company.com", "password": "SecurePass123!", "name": "Jane Smith", "org_name": "Acme Inc" }
            }
          }
        },
        "responses": {
          "200": { "description": "Account converted", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AuthResponse" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      }
    },
    "/v1/demo/select-plan": {
      "post": {
        "tags": ["Demo"],
        "summary": "Select plan after demo conversion",
        "description": "Choose a subscription plan after converting from demo. Returns PayU checkout data for Pro plan.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "type": "object", "required": ["plan", "retain_data"], "properties": { "plan": { "type": "string", "enum": ["free", "pro"] }, "retain_data": { "type": "boolean" } } },
              "example": { "plan": "pro", "retain_data": true }
            }
          }
        },
        "responses": {
          "200": { "description": "Plan selected", "content": { "application/json": { "schema": { "type": "object" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      }
    },
    "/v1/demo/feedback": {
      "post": {
        "tags": ["Demo"],
        "summary": "Submit demo feedback",
        "description": "Submit feedback from a demo user when declining to register or requesting enhancements.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "type": "object", "required": ["message"], "properties": { "message": { "type": "string" }, "email": { "type": "string", "format": "email" }, "rating": { "type": "integer", "minimum": 1, "maximum": 5 } } },
              "example": { "message": "Great product! Would love a Terraform provider.", "rating": 4 }
            }
          }
        },
        "responses": {
          "200": { "description": "Feedback submitted", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MessageResponse" } } } }
        }
      }
    },
    "/v1/sso/config": {
      "get": { "tags": ["SSO"], "summary": "Get SSO configuration", "security": [{ "bearerAuth": [] }], "responses": { "200": { "description": "SSO configuration" } } },
      "post": { "tags": ["SSO"], "summary": "Create or update SSO configuration", "security": [{ "bearerAuth": [] }], "responses": { "200": { "description": "SSO config saved" } } },
      "delete": { "tags": ["SSO"], "summary": "Delete SSO configuration", "security": [{ "bearerAuth": [] }], "responses": { "204": { "description": "SSO config deleted" } } }
    },
    "/v1/scim/Users": {
      "get": { "tags": ["SCIM"], "summary": "List SCIM users", "security": [{ "bearerAuth": [] }], "responses": { "200": { "description": "SCIM ListResponse" } } },
      "post": { "tags": ["SCIM"], "summary": "Provision a user via SCIM", "security": [{ "bearerAuth": [] }], "responses": { "201": { "description": "User provisioned" } } }
    },
    "/v1/scim/Users/{userID}": {
      "get": { "tags": ["SCIM"], "summary": "Get SCIM user", "security": [{ "bearerAuth": [] }], "parameters": [{ "name": "userID", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "SCIM user" } } },
      "put": { "tags": ["SCIM"], "summary": "Update SCIM user", "security": [{ "bearerAuth": [] }], "parameters": [{ "name": "userID", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "User updated" } } },
      "delete": { "tags": ["SCIM"], "summary": "Deprovision SCIM user", "security": [{ "bearerAuth": [] }], "parameters": [{ "name": "userID", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "204": { "description": "User deprovisioned" } } }
    },
    "/v1/auth/mfa/enable": {
      "post": { "tags": ["MFA"], "summary": "Enable MFA (generate TOTP secret)", "security": [{ "bearerAuth": [] }], "responses": { "200": { "description": "TOTP secret and QR URI" } } }
    },
    "/v1/auth/mfa/verify": {
      "post": { "tags": ["MFA"], "summary": "Verify MFA TOTP code", "security": [{ "bearerAuth": [] }], "responses": { "200": { "description": "MFA verified" } } }
    },
    "/v1/auth/mfa/disable": {
      "post": { "tags": ["MFA"], "summary": "Disable MFA", "security": [{ "bearerAuth": [] }], "responses": { "200": { "description": "MFA disabled" } } }
    },
    "/v1/auth/mfa/status": {
      "get": { "tags": ["MFA"], "summary": "Get MFA status", "security": [{ "bearerAuth": [] }], "responses": { "200": { "description": "MFA status" } } }
    },
    "/v1/ip-allowlist": {
      "get": { "tags": ["IP Allowlist"], "summary": "Get IP allowlist configuration", "security": [{ "bearerAuth": [] }], "responses": { "200": { "description": "IP allowlist config" } } },
      "put": { "tags": ["IP Allowlist"], "summary": "Update IP allowlist", "security": [{ "bearerAuth": [] }], "responses": { "200": { "description": "IP allowlist updated" } } }
    },
    "/v1/roles": {
      "get": { "tags": ["Custom Roles"], "summary": "List custom roles", "security": [{ "bearerAuth": [] }], "responses": { "200": { "description": "List of custom roles" } } },
      "post": { "tags": ["Custom Roles"], "summary": "Create custom role", "security": [{ "bearerAuth": [] }], "responses": { "201": { "description": "Custom role created" } } }
    },
    "/v1/roles/{roleID}": {
      "get": { "tags": ["Custom Roles"], "summary": "Get custom role", "security": [{ "bearerAuth": [] }], "parameters": [{ "name": "roleID", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Custom role" } } },
      "put": { "tags": ["Custom Roles"], "summary": "Update custom role", "security": [{ "bearerAuth": [] }], "parameters": [{ "name": "roleID", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Custom role updated" } } },
      "delete": { "tags": ["Custom Roles"], "summary": "Delete custom role", "security": [{ "bearerAuth": [] }], "parameters": [{ "name": "roleID", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "204": { "description": "Custom role deleted" } } }
    },
    "/v1/data/export": {
      "get": { "tags": ["Data Export"], "summary": "Export organization data as JSON", "security": [{ "bearerAuth": [] }], "responses": { "200": { "description": "JSON export of all org data" } } }
    },
    "/v1/features": {
      "get": { "tags": ["Billing"], "summary": "List enabled features for current plan", "security": [{ "bearerAuth": [] }], "responses": { "200": { "description": "Feature list with enabled state" } } }
    },
    "/v1/audit/export": {
      "get": { "tags": ["Audit"], "summary": "Export audit log (JSON or CSV)", "security": [{ "bearerAuth": [] }], "parameters": [{ "name": "format", "in": "query", "schema": { "type": "string", "enum": ["json", "csv"] } }, { "name": "from", "in": "query", "schema": { "type": "string", "format": "date-time" } }, { "name": "to", "in": "query", "schema": { "type": "string", "format": "date-time" } }], "responses": { "200": { "description": "Audit log export" } } }
    },
    "/v1/track": {
      "post": { "tags": ["Metrics"], "summary": "Track flag impression", "security": [{ "apiKeyAuth": [] }], "responses": { "200": { "description": "Impression tracked" } } }
    },
    "/v1/users/me/data": {
      "get": { "tags": ["Auth"], "summary": "Export personal data (GDPR Article 15/20)", "description": "Returns a JSON export of all personal data held about the authenticated user.", "security": [{ "bearerAuth": [] }], "responses": { "200": { "description": "JSON export of user data" } } }
    },
    "/v1/users/me": {
      "delete": { "tags": ["Auth"], "summary": "Delete account (GDPR Article 17)", "description": "Soft-deletes the authenticated user's account with a 30-day recovery grace period.", "security": [{ "bearerAuth": [] }], "responses": { "200": { "description": "Account scheduled for deletion" }, "422": { "description": "Cannot delete — sole org owner" } } }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT access token obtained from /v1/auth/login or /v1/auth/register"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Environment API key for server-side or client-side SDK access"
      }
    },
    "parameters": {
      "ProjectID": {
        "name": "projectID",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "format": "uuid" },
        "description": "Project ID"
      },
      "EnvID": {
        "name": "envID",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "format": "uuid" },
        "description": "Environment ID"
      },
      "EnvKey": {
        "name": "envKey",
        "in": "path",
        "required": true,
        "schema": { "type": "string" },
        "description": "Environment public key"
      },
      "FlagKey": {
        "name": "flagKey",
        "in": "path",
        "required": true,
        "schema": { "type": "string" },
        "description": "Feature flag key"
      },
      "SegmentKey": {
        "name": "segmentKey",
        "in": "path",
        "required": true,
        "schema": { "type": "string" },
        "description": "Segment key"
      },
      "MemberID": {
        "name": "memberID",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "format": "uuid" },
        "description": "Team member ID"
      },
      "ApprovalID": {
        "name": "approvalID",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "format": "uuid" },
        "description": "Approval request ID"
      },
      "WebhookID": {
        "name": "webhookID",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "format": "uuid" },
        "description": "Webhook ID"
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid request parameters",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
      },
      "Unauthorized": {
        "description": "Missing or invalid authentication",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": "string" },
          "code": { "type": "string" },
          "details": { "type": "string" },
          "request_id": { "type": "string" }
        }
      },
      "PaginatedResponse": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": {} },
          "total": { "type": "integer" },
          "limit": { "type": "integer" },
          "offset": { "type": "integer" },
          "has_more": { "type": "boolean" }
        }
      },
      "Organization": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "slug": { "type": "string" },
          "plan": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "MessageResponse": {
        "type": "object",
        "properties": {
          "message": { "type": "string" }
        }
      },
      "RegisterRequest": {
        "type": "object",
        "required": ["email", "password", "name", "org_name"],
        "properties": {
          "email": { "type": "string", "format": "email" },
          "password": { "type": "string", "minLength": 8 },
          "name": { "type": "string" },
          "org_name": { "type": "string" }
        }
      },
      "LoginRequest": {
        "type": "object",
        "required": ["email", "password"],
        "properties": {
          "email": { "type": "string", "format": "email" },
          "password": { "type": "string" }
        }
      },
      "RefreshRequest": {
        "type": "object",
        "required": ["refreshToken"],
        "properties": {
          "refreshToken": { "type": "string" }
        }
      },
      "AuthResponse": {
        "type": "object",
        "properties": {
          "user": { "$ref": "#/components/schemas/User" },
          "organization": { "$ref": "#/components/schemas/Organization" },
          "tokens": {
            "type": "object",
            "properties": {
              "access_token": { "type": "string" },
              "refresh_token": { "type": "string" },
              "expires_in": { "type": "integer" }
            }
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "email": { "type": "string", "format": "email" },
          "name": { "type": "string" },
          "email_verified": { "type": "boolean" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "Project": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "slug": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "CreateProjectRequest": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": { "type": "string" },
          "description": { "type": "string" }
        }
      },
      "Environment": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "slug": { "type": "string" },
          "color": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "CreateEnvironmentRequest": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": { "type": "string" },
          "color": { "type": "string" }
        }
      },
      "Flag": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "key": { "type": "string" },
          "name": { "type": "string" },
          "flag_type": { "type": "string", "enum": ["boolean", "string", "number", "json", "ab"] },
          "category": { "type": "string", "enum": ["release", "experiment", "ops", "permission"], "description": "Toggle category based on Martin Fowler's taxonomy" },
          "status": { "type": "string", "enum": ["active", "rolled_out", "deprecated", "archived"], "description": "Lifecycle status of the flag" },
          "description": { "type": "string" },
          "default_value": { "description": "Value returned when flag is disabled. Type must match flag_type." },
          "tags": { "type": "array", "items": { "type": "string" } },
          "prerequisites": { "type": "array", "items": { "type": "string" }, "description": "Flag keys that must be enabled" },
          "mutual_exclusion_group": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "Variant": {
        "type": "object",
        "properties": {
          "key": { "type": "string" },
          "value": {},
          "name": { "type": "string" },
          "description": { "type": "string" }
        }
      },
      "Prerequisite": {
        "type": "object",
        "properties": {
          "flagKey": { "type": "string" },
          "value": {}
        }
      },
      "CreateFlagRequest": {
        "type": "object",
        "required": ["key", "name"],
        "properties": {
          "key": { "type": "string", "pattern": "^[a-z0-9][a-z0-9_-]{0,127}$", "description": "Unique flag identifier (immutable)" },
          "name": { "type": "string", "description": "Display name" },
          "flag_type": { "type": "string", "enum": ["boolean", "string", "number", "json", "ab"], "default": "boolean", "description": "Value type of the flag" },
          "category": { "type": "string", "enum": ["release", "experiment", "ops", "permission"], "default": "release" },
          "status": { "type": "string", "enum": ["active", "rolled_out", "deprecated", "archived"], "default": "active" },
          "description": { "type": "string" },
          "default_value": { "description": "Value returned when flag is disabled. Must match flag_type (boolean→bool, string→string, number→number, json→object/array). Auto-assigned if omitted: false, \"\", 0, or {} depending on type." },
          "tags": { "type": "array", "items": { "type": "string" } },
          "prerequisites": { "type": "array", "items": { "type": "string" }, "description": "Flag keys that must be enabled for this flag to evaluate" },
          "mutual_exclusion_group": { "type": "string", "description": "Mutex group name — only one flag in the group can be ON per user" }
        }
      },
      "UpdateFlagRequest": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "description": { "type": "string" },
          "category": { "type": "string", "enum": ["release", "experiment", "ops", "permission"] },
          "status": { "type": "string", "enum": ["active", "rolled_out", "deprecated", "archived"] },
          "tags": { "type": "array", "items": { "type": "string" } },
          "variants": { "type": "array", "items": { "$ref": "#/components/schemas/Variant" } },
          "prerequisites": { "type": "array", "items": { "$ref": "#/components/schemas/Prerequisite" } }
        }
      },
      "FlagState": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "enabled": { "type": "boolean" },
          "default_value": { "description": "Per-environment override value" },
          "rules": { "type": "array", "items": { "$ref": "#/components/schemas/TargetingRule" } },
          "percentage_rollout": { "type": "integer", "minimum": 0, "maximum": 10000 },
          "variants": { "type": "array", "items": { "$ref": "#/components/schemas/Variant" } },
          "scheduled_enable_at": { "type": "string", "format": "date-time" },
          "scheduled_disable_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "TargetingRule": {
        "type": "object",
        "properties": {
          "segmentKey": { "type": "string" },
          "value": {},
          "percentage": { "type": "number" }
        }
      },
      "UpdateFlagStateRequest": {
        "type": "object",
        "properties": {
          "enabled": { "type": "boolean" },
          "percentage": { "type": "number", "minimum": 0, "maximum": 100 },
          "rules": { "type": "array", "items": { "$ref": "#/components/schemas/TargetingRule" } }
        }
      },
      "EvaluateRequest": {
        "type": "object",
        "required": ["flagKey", "context"],
        "properties": {
          "flagKey": { "type": "string" },
          "context": { "type": "object", "additionalProperties": {} }
        }
      },
      "BulkEvaluateRequest": {
        "type": "object",
        "description": "When `flagKeys` is provided, it may contain at most 100 flag keys.",
        "required": ["context"],
        "properties": {
          "context": { "type": "object", "additionalProperties": {} },
          "flagKeys": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Optional list of flag keys to evaluate. Maximum 100 items."
          }
        }
      },
      "EvaluationResult": {
        "type": "object",
        "properties": {
          "flagKey": { "type": "string" },
          "value": {},
          "variationKey": { "type": "string" },
          "reason": { "type": "string", "enum": ["TARGETING_MATCH", "PERCENTAGE_ROLLOUT", "DEFAULT", "DISABLED", "PREREQUISITE_FAILED"] }
        }
      },
      "Segment": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "key": { "type": "string" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "match_type": { "type": "string", "enum": ["all", "any"] },
          "rules": { "type": "array", "items": { "$ref": "#/components/schemas/SegmentRule" } },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "SegmentRule": {
        "type": "object",
        "properties": {
          "attribute": { "type": "string" },
          "operator": { "type": "string", "enum": ["eq", "neq", "in", "not_in", "contains", "starts_with", "ends_with", "gt", "gte", "lt", "lte", "regex"] },
          "value": {}
        }
      },
      "CreateSegmentRequest": {
        "type": "object",
        "required": ["key", "name"],
        "properties": {
          "key": { "type": "string" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "rules": { "type": "array", "items": { "$ref": "#/components/schemas/SegmentRule" } }
        }
      },
      "UpdateSegmentRequest": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "description": { "type": "string" },
          "rules": { "type": "array", "items": { "$ref": "#/components/schemas/SegmentRule" } }
        }
      },
      "ApiKey": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "key_prefix": { "type": "string" },
          "name": { "type": "string" },
          "type": { "type": "string", "enum": ["server", "client"] },
          "created_at": { "type": "string", "format": "date-time" },
          "last_used_at": { "type": "string", "format": "date-time" },
          "expires_at": { "type": "string", "format": "date-time" },
          "revoked_at": { "type": "string", "format": "date-time" }
        }
      },
      "ApiKeyFull": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "type": { "type": "string", "enum": ["server", "client"] },
          "key": { "type": "string", "description": "Full API key — only returned on creation" },
          "createdAt": { "type": "string", "format": "date-time" },
          "expires_at": { "type": "string", "format": "date-time" }
        }
      },
      "CreateApiKeyRequest": {
        "type": "object",
        "required": ["name", "type"],
        "properties": {
          "name": { "type": "string" },
          "type": { "type": "string", "enum": ["server", "client"] },
          "expires_in_days": { "type": "integer" }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "email": { "type": "string", "format": "email" },
          "name": { "type": "string" },
          "role": { "type": "string", "enum": ["owner", "admin", "developer", "viewer"] },
          "status": { "type": "string", "enum": ["active", "invited"] },
          "joinedAt": { "type": "string", "format": "date-time" }
        }
      },
      "InviteMemberRequest": {
        "type": "object",
        "required": ["email", "role"],
        "properties": {
          "email": { "type": "string", "format": "email" },
          "role": { "type": "string", "enum": ["admin", "developer", "viewer"] }
        }
      },
      "Permissions": {
        "type": "object",
        "properties": {
          "projectPermissions": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "flags": { "type": "string", "enum": ["none", "read", "write"] },
                "environments": { "type": "string", "enum": ["none", "read", "write"] },
                "segments": { "type": "string", "enum": ["none", "read", "write"] }
              }
            }
          }
        }
      },
      "Approval": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "flag_id": { "type": "string" },
          "env_id": { "type": "string", "format": "uuid" },
          "change_type": { "type": "string" },
          "status": { "type": "string", "enum": ["pending", "approved", "rejected", "applied"] },
          "review_note": { "type": "string" },
          "reviewed_at": { "type": "string", "format": "date-time" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "CreateApprovalRequest": {
        "type": "object",
        "required": ["flagKey", "projectID", "envID", "changes"],
        "properties": {
          "flagKey": { "type": "string" },
          "projectID": { "type": "string", "format": "uuid" },
          "envID": { "type": "string", "format": "uuid" },
          "changes": { "type": "object" },
          "description": { "type": "string" }
        }
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "url": { "type": "string", "format": "uri" },
          "has_secret": { "type": "boolean" },
          "events": { "type": "array", "items": { "type": "string" } },
          "enabled": { "type": "boolean" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "CreateWebhookRequest": {
        "type": "object",
        "required": ["url", "events"],
        "properties": {
          "url": { "type": "string", "format": "uri" },
          "events": { "type": "array", "items": { "type": "string" } },
          "secret": { "type": "string" }
        }
      },
      "UpdateWebhookRequest": {
        "type": "object",
        "properties": {
          "url": { "type": "string", "format": "uri" },
          "events": { "type": "array", "items": { "type": "string" } },
          "secret": { "type": "string" },
          "active": { "type": "boolean" }
        }
      },
      "WebhookDelivery": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "event_type": { "type": "string" },
          "response_status": { "type": "integer" },
          "success": { "type": "boolean" },
          "delivered_at": { "type": "string", "format": "date-time" }
        }
      },
      "AuditEntry": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "actor_id": { "type": "string", "format": "uuid" },
          "actor_type": { "type": "string" },
          "action": { "type": "string" },
          "resource_type": { "type": "string" },
          "resource_id": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "EvaluationMetrics": {
        "type": "object",
        "properties": {
          "totalEvaluations": { "type": "integer" },
          "uniqueUsers": { "type": "integer" },
          "avgLatencyMs": { "type": "number" },
          "timeseries": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "timestamp": { "type": "string", "format": "date-time" },
                "count": { "type": "integer" },
                "trueCount": { "type": "integer" },
                "falseCount": { "type": "integer" }
              }
            }
          }
        }
      },
      "Subscription": {
        "type": "object",
        "properties": {
          "planID": { "type": "string" },
          "planName": { "type": "string" },
          "status": { "type": "string", "enum": ["active", "trialing", "past_due", "canceled"] },
          "currentPeriodEnd": { "type": "string", "format": "date-time" },
          "cancelAtPeriodEnd": { "type": "boolean" }
        }
      },
      "Usage": {
        "type": "object",
        "properties": {
          "evaluations": { "type": "integer" },
          "evaluationsLimit": { "type": "integer" },
          "flags": { "type": "integer" },
          "flagsLimit": { "type": "integer" },
          "environments": { "type": "integer" },
          "environmentsLimit": { "type": "integer" },
          "seats": { "type": "integer" },
          "seatsLimit": { "type": "integer" }
        }
      },
      "Onboarding": {
        "type": "object",
        "properties": {
          "completed": { "type": "boolean" },
          "steps": {
            "type": "object",
            "properties": {
              "createProject": { "type": "boolean" },
              "createFlag": { "type": "boolean" },
              "installSDK": { "type": "boolean" },
              "firstEvaluation": { "type": "boolean" },
              "inviteTeammate": { "type": "boolean" }
            }
          }
        }
      },
      "UpdateOnboardingRequest": {
        "type": "object",
        "properties": {
          "steps": {
            "type": "object",
            "properties": {
              "createProject": { "type": "boolean" },
              "createFlag": { "type": "boolean" },
              "installSDK": { "type": "boolean" },
              "firstEvaluation": { "type": "boolean" },
              "inviteTeammate": { "type": "boolean" }
            }
          }
        }
      }
    }
  }
}
